<div  id="magazines">
  <h3>Magazines</h3>
  <br><br>
  <div *ngFor="let magazine of magazinesList">
    <div>
      <div class="list-group-item list-group-item-action flex-column align-items-start">
        <!--      <span class="mb-1 pull-right">-->
        <!--        <a ><img src="https://img.icons8.com/carbon-copy/100/000000/delete.png" width="30" height="30" alt=""></a>-->
        <!--      </span>-->
        <div class="d-flex w-80 justify-content-between">
          <h5 class="mb-2">{{magazine['naziv']}}</h5>

        </div>


        <p class="mb-2">Tip placanja: {{magazine['paymentMethod']}}</p>
        <p class="mb-2">ISSN: {{magazine['issn']}}</p>

        <button  class="btn btn-secondary" (click)="dodajRad(magazine['casopisId'])">Dodaj rad</button>
      </div>
    </div>
  </div>
</div>
