<div class="container">
  <div class="row">
    <div class="offset-3"></div>
    <div class="col-md-6">
      <form  name="loginForm" #f="ngForm" class="form-signin" (ngSubmit)="onSubmit(f.value, f)" ngNativeValidate>

        <div class="form-group" *ngFor="let field of formFields" >
          <label for={{field.id}}><b>{{field.label}}</b></label>

          <input type="text" name={{field.id}} ngModel class="form-control" *ngIf="field.type.name=='string'" >
          <input type="checkbox" name={{field.id}} ngModel class="form-control" *ngIf="field.type.name=='boolean'">
          <input type="number" name={{field.id}} ngModel class="form-control" *ngIf="field.type.name=='long'">
          <ng-multiselect-dropdown  *ngIf="field.type.name=='enum'"
                                    [placeholder]="'Izaberite naucnu oblast'"
                                    [data]="enumValues"
                                    [(ngModel)]="selectedItems"
                                    [settings]="dropdownSettings"
                                    (onSelect)="onItemSelect($event)"
                                    (onSelectAll)="onSelectAll($event)"
                                    name="naucna_oblast"
          >
          </ng-multiselect-dropdown>
        </div>

        <button type="submit"  class="btn btn-secondary pull-right">
          <i class="fa fa-envelope-o"></i>
          <span> Submit data</span>
        </button>
      </form>

      <button (click)="getTasks()">Get tasks</button>

      <table>
        <tr *ngFor="let task of tasks" > <td>{{task.name}}</td><td>{{task.assignee}}</td><td><button (click)="claim(task.taskId)">Claim</button></td> <td><button (click)="complete(task.taskId)">Complete</button></td></tr>

      </table>
    </div>
    <div class="offset-3"></div>
  </div>
</div>
